<div class="item">
    <div>Nome</div>
    <input 
        type="text"
        name="name"
        value="{{employee.name}}"
    >
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date"
        name="birth"
        value="{{employee.birth}}"
    >
</div>

<div class="detailsColumn">
    <div class="item">
        <div>Cargo</div>
        <input 
            type="text"
            name="office"
            value="{{employee.office}}"
        >
    </div>

    <div class="item">
        <div>Salário</div>
        <input 
            type="text"
            name="salary"
            value="{{employee.salary}}"
            onkeydown="Mask.apply(this,'formatBRL')"
        >
    </div>
</div>

<button type="submit">Salvar</button>