@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --color-primary: #332A7C;
    --color-secondary: #FFA000;
    --color-text-primary: #514865;
    --color-button-secondary: #137866;
    --color-white: #FFFFFF;
    --color-red: #F25767;
    --color-red-delete: #D01823;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: white; 
}
button {
    outline: none;
    cursor: pointer;
}

input,
select {
    outline: none;
}


/* === HOME === */

.container{
    display: grid;
    grid-template-columns: 210px 1fr;
    gap: 73px;
    margin: 20px 18px;
}

/* left bar links home*/

.leftBar {
    padding: 10px;
    background: black;
    max-width: 240px;
    border-radius: 30px;
    background: var(--color-primary);

    animation: left 500ms ease-in-out;
}

@keyframes left{
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        
    }
}

.leftBar nav {
    display: flex;
    flex-direction: column;
}

.leftBar nav ul {
    text-align: left;
    list-style: none;
    color: var(--color-white);
}

nav ul .titleLeftBar{
    margin-top: 38px;

    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
}

nav ul .linkHome {
    margin-top: 70px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 8px;

    display: grid;
    grid-template-columns: 30px 1fr;
}

nav ul .linkHome a {
    margin-left: 17px;
    display: flex;
    align-items: center;
}

nav ul .linkHome i {
    text-align: center;
    font-size: 25px;

}

nav ul li:nth-child(2){
    margin-top: 120px;
}

nav ul li:last-child{
    margin-top: 120px;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
}

nav ul .linkHome:last-child i{
    text-align: right;
    margin-right: 5px;
}

nav ul li:last-child a {
    margin-left: 0;
}

/* top center bar home*/

.topCenterBar {
    background: var(--color-secondary);
    width: 100%;
    height: 100px;

    color: var(--color-white);
    border-radius: 30px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: top 500ms ease-in-out;
}

@keyframes top{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
    }
}

.topCenterBar .textTopCenterBar{
    margin-left: 53px;
    list-style: none;
    
}

.topCenterBar h1{
    font-weight: 500;
    font-size: 30px;   
}

.topCenterBar p{
    margin-top: 5px
}

/* Center Event Information */

.centerEventInformation {
    margin-top: 26px;
}

.centerEventInformation h1 {
    font-weight: 500;
    font-size:26px;
    color: var(--color-text-primary);
}

.cardsNextEvent{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 213px;
    grid-row-gap: 100px;

    position: relative;
    padding: 50px 100px;
}

.cardNextEvent {
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    height: 115px;
    display: grid;
    align-items: center;
}

.cardNextEvent h2 {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    margin: auto 17px;
}

.homeNextEvent h3 {
    color: var(--color-text-primary);
    font-weight: 300;
    font-size: 20px;
    text-align: center;

    margin-top: 11px;
}


/* === EVENTS === */

.buttonTopCenterBar{
    margin-right: 26px;
}

.buttonTopCenterBar a{
    background: var(--color-button-secondary);
    padding: 10px 14px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(1, 1, 1, 0.3);
    border: solid 1px #BEBEBE;

    font-weight: 500;
    font-size: 17px;
}

/* filter events*/
.eventCenterInformation{
    display: flex;
}

.filter { 
    margin: 33px auto;
}

.filter input{
    border: 1px solid var(--color-primary);
    width:600px; 
    height: 58px;
    border-radius: 50px;

    padding:  0 30px;
    font-size: 20px;
}

.filter input::placeholder{
    font-weight: normal;
    color: #A0A0A0;
}

.filter button {
    background: var(--color-primary);
    padding: 16px 16px;
    border-radius: 20px;
    margin-left: 15px;
    color: var(--color-white);
    font-weight: normal;
    font-size: 20px;
}

/* Table Results Events*/

table {
    text-align: left;
    border-spacing: 0;
}

table thead tr {
    font-weight: 500;
    font-size: 25px;
}

table tbody tr {
    font-weight: normal;
    font-size: 20px;
}

td, th {
    color: var(--color-text-primary);
    padding: 30px 0;
    border-bottom: 1px solid #cacaca;
}

tbody tr:last-child td{
    border-bottom: none;
}

tr td a {
    background: var(--color-primary);
    padding: 12px 12px;
    border-radius: 20px;
    color: var(--color-white);
    font-weight: normal;
    font-size: 20px;
}


/* CREATE */

.cardCreate {
    background: #F6F6FC;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    margin-top: 34px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    animation: right 300ms ease-in-out;
}

@keyframes right{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
    }
}


.cardCreate .avatar {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}


/* CREATE EVENTS*/

.details h3{
    font-weight: 500;
    font-size: 23px;
    color: var(--color-text-primary);

    margin-top: 19px;
}

.details div:nth-child(1) {
    font-weight: normal;
    font-size: 18px;
    color: var(--color-text-primary);

    margin-bottom: 8px;
    margin-top: 32px;
}

.details input,
.details select{
    background: var(--color-white);
    border-radius: 15px;

    width: 98%;
    height: 50px;
    padding:  0 20px;
    font-size: 16px;
    border: 1px solid var(--color-primary);
}

.details .detailsColumn{
    display: flex;
    align-items: center;
    width: 99%;
}

.details .detailsColumn .item {
    margin-top: 0;
    margin-bottom: 0;
}
.details .detailsColumn div {
    width: 100%;
}

.details button {
    background: var(--color-primary);
    padding: 15px 25px;
    border-radius: 20px;
    float: right;
    margin-top: 30px;
    color: var(--color-white);
    font-weight: normal;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.cardShow {
    background: #F6F6FC;
    width: 100%;
    height: 80%;

    border-radius: 30px;
    margin-top: 34px;

    animation: bottom 500ms ease-in-out; 
}

@keyframes bottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
    }
}

.cardShow .titleCenterInformation h1{
    font-weight: bold;
    font-size: 25px;
    color: var(--color-text-primary);
    
    padding-left: 6px;
    padding-top: 20px;
}

.cardShow .rowPrimary, 
.rowSecond, 
.rowthird {
    display: flex;
    justify-content: center;
}

.cardShow .item {
    margin-top: 29px;

    background: var(--color-white);
    border-radius: 15px;

    text-align: center;
}

.cardShow  div + div {
    margin-left: 78px;
}

.item div:last-child,
.moreInformations {
    color: var(--color-text-primary);
    font-weight: bold;
    font-size: 22px;
    margin-left: 0;
} 

.item.espaceTopShift {
    margin-top: 50px
}

.item .espaceBottomShift{
    margin-bottom: 12px;
}

.item ul li:first-child{
    margin-bottom: 20px;
}

.item ul li{
    text-decoration: underline;
}

button.add-employees,
button.add-equipment {
    background: none;
    padding: 0;
    border-radius: 0;
    float: left;
    margin-top: 0;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.item .innerSquare {
    background: var(--color-red);
    color: var(--color-white);
    font-weight: normal;
    font-size: 25px;

    border-radius: 15px;
    padding: 13px;
    margin: 8px
}

.cardShow .bar {
    border: solid 1px #CCCCCE;
    margin-top: 50px;
}

.cardShow .moreInformations {
    margin-top: 36px;
    text-align: center;
}

/* == EVENT DELETE == */

.details.formDelete button {
    background: gray;
    float: left
}

.details.formDelete button:hover {
    background: var(--color-red-delete);
    transition: 100ms;
}


/* pagination */

.table-container {
    display: grid;
    grid-template-columns: 64px 1fr 16px/ 1fr;

    animation: bottom 500ms ease-in-out; /*@keyframs bottom linha 405*/ 
}

.table-container .pagination {
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.pagination a,
.pagination span {
    font-size: 20px;
    color: var(--color-primary);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--color-text-primary);
}



