@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --color-primary: #332A7C;
    --color-secondary: #FFA000;
    --color-white: #FFFFFF;
    --color-text-primary: #514865;
    --color-button-secondary: #137866;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: white; 
}
button {
    outline: none;
    cursor: pointer;
}


/* === HOME === */

.container{
    display: grid;
    grid-template-columns: 258px 1fr;
    gap: 73px;
    margin: 20px 18px;
}

/* left bar links home*/

.leftBar {
    padding: 10px;
    background: black;
    max-width: 240px;
    border-radius: 30px;
    background: var(--color-primary);
}

.leftBar nav {
    display: flex;
    flex-direction: column;
}

.leftBar nav ul {
    text-align: left;
    list-style: none;
    color: var(--color-white);
}

nav ul .titleLeftBar{
    margin-top: 58px;

    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

nav ul .linkHome {
    margin-top: 88px;
    font-weight: 500;
    font-size: 20px;
    margin-left: 19px;

    display: grid;
    grid-template-columns: 30px 1fr;
}

nav ul .linkHome a {
    margin-left: 17px;
    display: flex;
    align-items: center;
}

nav ul .linkHome i {
    text-align: center;
    font-size: 30px;

}

nav ul li:nth-child(2){
    margin-top: 100px;
}

nav ul li:last-child{
    margin-top: 181px;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
}

nav ul .linkHome:last-child i{
    text-align: right;
    margin-right: 5px;
}

nav ul li:last-child a {
    margin-left: 0;
}

/* top center bar home*/

.topCenterBar {
    background: var(--color-secondary);
    width: 100%;
    height: 131px;

    color: var(--color-white);
    border-radius: 30px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topCenterBar .textTopCenterBar{
    margin-left: 53px;
    list-style: none;
    
}

.topCenterBar h1{
    font-weight: 500;
    font-size: 40px;   
}

.topCenterBar p{
    margin-top: 5px
}

/* Center Event Information */

.centerEventInformation {
    margin-top: 40px
}

.centerEventInformation h1 {
    font-weight: 500;
    font-size: 30px;
    color: var(--color-text-primary);
}

.cardsNextEvent{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 213px;
    grid-row-gap: 133px;

    position: relative;
    padding: 58px 100px;
}

.cardNextEvent {
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    height: 122px;
    display: grid;
    align-items: center;
}

.cardNextEvent h2 {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    margin: auto 17px;
}

.homeNextEvent h3 {
    color: var(--color-text-primary);
    font-weight: 300;
    font-size: 25px;
    text-align: center;

    margin-top: 11px;
}


/* === EVENTS === */

.buttonNewEvent{
    margin-right: 26px;
}

.buttonNewEvent a{
    background: var(--color-button-secondary);
    padding: 13px 17px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(1, 1, 1, 0.3);
    border: solid 1px #BEBEBE;

    font-weight: 500;
    font-size: 25px;
}

/* filter events*/
.eventCenterInformation{
    display: flex;
}

.filter { 
    margin: 33px auto;
}

.filter input{
    border: 1px solid var(--color-primary);
    width:706px; 
    height: 80px;
    border-radius: 50px;

    outline: none;
    padding:  0 41px;
    font-size: 25px;
}

.filter input::placeholder{
    font-weight: normal;
    color: #A0A0A0;
}

.filter button {
    background: var(--color-primary);
    padding: 23px 25px;
    border-radius: 20px;
    margin-left: 15px;
    color: var(--color-white);
    font-weight: normal;
    font-size: 25px;
}

/* Table Results Events*/

table {
    text-align: left;
    border-spacing: 0;
}

table thead tr {
    font-weight: 500;
    font-size: 30px;
}

table tbody tr {
    font-weight: normal;
    font-size: 25px;
}

td, th {
    color: var(--color-text-primary);
    padding: 30px 0;
    border-bottom: 1px solid #cacaca;
}

tbody tr:last-child td{
    border-bottom: none;
}

tr td a {
    background: var(--color-primary);
    padding: 16px 16px;
    border-radius: 20px;
    color: var(--color-white);
    font-weight: normal;
    font-size: 25px;
}


