{% extends 'layout.njk'%}

{% block topCenterBar %}
    <div class="textTopCenterBar">
        <h1> EDITAR EVENTO</h1>
    </div>
{% endblock %}


{% block content %}
    <form class="cardCreate"  method= "POST" action="/events?_method=PUT">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/9905479/430x500)no-repeat center center / cover"></section>

        <section class="details">
            <h3>Editar Evento</h3>

            {% include 'events/fields.njk'%}
            
            <input 
                type="hidden"
                name="id"
                value="{{event.id}}"
            >
        
    </form>
            
            <form class="details formDelete" method="POST" action="/events?_method=DELETE">
                <input type="hidden" name="id" value="{{event.id}}">
                <button type="submit">Deletar</button>
            </form>

        </section>

        {% include '../DeleteConfirm.njk'%}
{% endblock %}