<div class="item">
    <div>Nome do Cliente</div>
    <div>
        <input 
            type="text"
            name="client_name"
            value=""
        >
    </div>
</div>

<div class="item">
    <div>Endereço</div>
    <div>
        <input 
            type="text"
            name="address"
            value=""
        >
    </div>
</div>

<div class="detailsColumn">
    <div class="item">
        <div>Dia</div>
        <div>
            <input 
                type="date"
                name="date_event"
                value=""
            >
        </div>
    </div>

    <div class="item">
        <div>Valor</div>
        <div>
            <input 
                type="text"
                name="cost"
                value=""
                onkeydown="Mask.apply(this,'formatBRL')"
            >
        </div>
    </div>
</div>

<div class="detailsColumn">
    <div class="item">
        <div>Tipo</div>
        <div>
            <input 
                type="text"
                name="category"
                placeholder="ex: casamento"
                value=""
            >
        </div>

    </div>

    <div class="item">
        <div>Turno</div> 
        <div>
            <select name="shift">
                <option value="">
                    Manhã
                </option>

                <option value="">
                    Tarde
                </option>

                <option value="">
                    Noite
                </option>
            </select>
        </div>
    </div>
</div>


<h3> Escalados para o evento</h3>

<div class="item">
    <div>Funcionários Escalados</div>
    <div>
        <select name="employees">
            {% for employee in employeeOptions %}
                <option value="{{employees.id}}"
                        {% if events.employees_id == employees.id %} selected {% endif %}
                >
                    {{employee.name}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="item">
    <div>Equipamentos Escalados</div>
    <div>
        <select name="equipment">
            {%for equipment in equipmentOptions%}
                <option value="{{equipment.id}}"
                    {% if events.equipment_id == equipment.id %} selected {% endif %}}
                >
                {{equipment.name}} 
                </option>
            {%endfor%}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>

