<div class="item">
    <div>Nome do Cliente</div>
    <div>
        <input 
            type="text"
            name="client_name"
            value="{{ event.client_name }}"
        >
    </div>
</div>

<div class="item">
    <div>Endereço</div>
    <div>
        <input 
            type="text"
            name="address"
            value=" {{ event.address }}"
        >
    </div>
</div>

<div class="detailsColumn">
    <div class="item">
        <div>Dia</div>
        <div>
            <input 
                type="date"
                name="date_event"
                value="{{ event.date_event }}"
            >
        </div>
    </div>

    <div class="item">
        <div>Valor</div>
        <div>
            <input 
                type="text"
                name="cost"
                value="{{event.cost}}"
                onkeydown="Mask.apply(this,'formatBRL')"
            >
        </div>
    </div>
</div>

<div class="detailsColumn">
    <div class="item">
        <div>Tipo</div>
        <div>
            <input 
                type="text"
                name="category"
                placeholder="ex: casamento"
                value="{{event.category}}"
            >
        </div>

    </div>

    <div class="item">
        <div>Turno</div> 
        <div>
            <select name="shift">
                <option value="Manhã"
                    {% if event.shift == "Manhã" %} selected {% endif %}
                >
                    Manhã
                </option>

                <option value="Tarde"
                    {% if event.shift == "Tarde" %} selected {% endif %}
                >
                    Tarde
                </option>

                <option value="Noite"
                    {% if event.shift == "Noite" %} selected {% endif %}
                >
                    Noite
                </option>
            </select>
        </div>
    </div>
</div>


<h3> Escalados para o evento</h3>

<div class="item">
    <div>Funcionários Escalados</div>
    <div>
        <select name="employees_id">
            {% for employee in employeeOptions %}
                <option value="{{employee.id}}"
                        {% if events.employees_id == employee.id %} selected {% endif %}
                >
                    {{employee.name}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="item">
    <div>Equipamentos Escalados</div>
    <div>
        <select name="equipment_id">
            {%for equipment in equipmentOptions%}
                <option value="{{equipment.id}}"
                    {% if events.equipment_id == equipment.id %} selected {% endif %}}
                >
                {{equipment.name}} 
                </option>
            {%endfor%}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>

