{% extends 'layout.njk' %}

{% block topCenterBar %}
    <div class="textTopCenterBar">
        <h1> EVENTOS</h1>
    </div>
    <div class="buttonNewEvent">
        <a href="events/create"> + Novo Evento </a>
    </div>
{% endblock %}

{% block content %}
    <div class="eventCenterInformation">
        <form class="filter" action="/events" method='GET'>
            <input 
                type="text",
                name="filter"
                placeholder="Buscar por tipo ou local"
                value={{filter}}
            >
            <button type="submit">Buscar</button>
        </form>
    </div>

    <table width= "100%">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Ação</th>
            </tr>
        </thead>
        
        <tbody>
            {% for event in events%}
                <tr>
                    <td>{{event.category}}</td>
                    <td>{{event.date_event}}</td>
                    <td>{{event.client_name}}</td>
                    <td><a href="events/{{event.id}}">Ver mais</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}