{% extends 'layout.njk' %}

{% block topCenterBar %}
    <div class="textTopCenterBar">
        <h1> EVENTOS</h1>
    </div>
    <div class="buttonNewEvent">
        <a href="/create"> + Novo Evento </a>
    </div>
{% endblock %}