{% extends 'layout.njk' %}

{% block topCenterBar %}
    <ul>
        <li class="textTopCenterBar"> <h1>OLÁ, PAULO BECKMAN </h1> </li>
        <li class="textTopCenterBar"> <p>Seja bem-vindo de volta ao Phottrol! </p> </li>
    </ul>
{% endblock %}

{% block content %}
 <div class="centerEventInformation">
    <h1>Proximo Evento</h1>

        <div class="cardsNextEvent">
            <div class="homeNextEvent">
                <div class="cardNextEvent">
                    <h2>10 Outubro 2020</h2>
                    <h2>Sexta-Feira</h2>
                </div>
                <h3>Data</h3>
            </div>

            <div class="homeNextEvent">
                <div class="cardNextEvent">
                    <h2>Fernanda Silva</h2>
                </div>
                <h3>Cliente</h3>
            </div>

            <div class="homeNextEvent">
                <div class="cardNextEvent">
                    <h2>Av. Sergio Heen, Nº 98 - Diamantino</h2>
                </div>
                <h3>Local</h3>
            </div>

            <div class="homeNextEvent">
                <div class="cardNextEvent">
                    <h2>Casamento</h2>
                </div>
                <h3>Tipo</h3>
            </div>
        </div>
</div>
{% endblock%}