<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Phottrol</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="leftBar">
                <nav>
                    <ul>
                        <li class="titleLeftBar" >  PHOTTROL </li>
                        <li class="linkHome "> <i class="fa fa-home"></i> <a href="/home">HOME</a>  </li>
                        <li class="linkHome"> <i class="fa fa-calendar"></i> <a href="/events">EVENTOS</a> </li>
                        <li class="linkHome"> <i class="fa fa-user"></i>  <a href="/employees">FUNCIONÁRIOS</a> </li>
                        <li class="linkHome"> <i class="fa fa-camera"></i> <a href="/equipment">EQUIPAMENTOS</a> </li>
                        <li class="linkHome"> <i class="fa fa-sign-out"></i> <a href="/home">Sair</a> </li>
                    </ul>
                </nav>
            </div>

            <div class="main">
                <div class="topCenterBar">
                    {% block topCenterBar %}{% endblock%}
                </div>

               {% block content%} {%endblock%}


            </div>
        </div>           
        
        <script src="/scripts.js"></script>
        
    </body>
</html>




