{% extends 'layout.njk' %}

{% block topCenterBar %}
    <div class="textTopCenterBar">
        <h1> EQUIPAMENTO </h1>
    </div>
    <div class="buttonTopCenterBar">
        <a href="equipments/create"> + Novo Equipamento </a>
    </div>
{% endblock %}

{% block content %}
<div class="table-container">
    <div class="eventCenterInformation">
        <form class="filter" action="/equipments" method='GET'>
            <input 
                type="text",
                name="filter"
                placeholder="Buscar por tipo ou nome"
                value={{filter}}
            >
            <button type="submit">Buscar</button>
        </form>
    </div>

    <table width= "100%">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Substituição</th>
                <th>Ação</th>
            </tr>
        </thead>
        
        <tbody>
            {% for equipment in equipments%}
                <tr>
                    <td>{{equipment.type}}</td>
                    <td>{{equipment.name}}</td>
                    <td>{{equipment.replacement_date}}</td>
                    <td><a href="equipments/{{equipment.id}}">Ver mais</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
</div>
{% endblock %}